.register {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/5ea364b1-8e59-4693-8ad8-f0eaee32d1bf/5b9fdff5-be3d-4fc6-9606-dd1b4002f277/IN-en-20220530-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .loginButton {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    margin: 20px;
  }

  p {
    font-size: 20px;
  }

  .input {
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;

    input {
      flex: 9;
      height: 100%;
      border: none;
      padding: 0 10px;
    }

    .registerButton {
      flex: 3;
      height: 100%;
      background-color: red;
      border: none;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
